<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.liang.bean.Message">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="mcontent" jdbcType="VARCHAR" property="mcontent" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="beuserid" jdbcType="INTEGER" property="beuserid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
  </resultMap>
  
  <sql id="Base_Column_List">
    mid, mcontent, time, userid, beuserid, status, fid
  </sql>
   
  <!-- 按mid查询消息
  <select id="selectByMessageMid" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  -->
  
  <!-- 按userid查询消息-->
  <select id="selectByMessageUserid" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  
  <!-- 按mid删除消息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  
  <!-- 删除该用户对应的所有消息(按userid) -->
  <delete id="deleteByUserid" parameterType="java.lang.Integer">
    delete from message
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  
  <!-- 添加消息 -->
  <insert id="insert" parameterType="com.liang.bean.Message">
    insert into 
    message (mid, mcontent, time, userid, beuserid, status, fid)
    values (#{mid,jdbcType=INTEGER}, #{mcontent,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}, 
      #{beuserid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER})
  </insert>
  
  </mapper>